@media screen and (max-width: 786px) {
    .training-programs {
        background-size: 0;
    }

    .header-text {
        font-size: 20px;
    }

    .header-background h3 {
        font-size: 18px;
    }

    .plan-ui {
        padding: 30px 20px 0 20px
    }

    .plan-description img {
        width: auto;
        height: auto;
    }

    .contact-us-section {
        padding: 20px;
    }

    .contact-us-right-side h2 {
        font-size: 38px;
    }

    .social-media img {
        width: 80%;
        height: 80%;
    }

    .carousel-banner-text {
        padding-left: 20px;
        padding-right: 20px;
    }

    .carousel-item img {
        height: 100%;
    }

    .carousel-banner-text {
        top: 60%;
    }

    .modal-dialog {
        margin: 0.5rem;
    }

    .modal-header h5 {
        font-size: 24px;
    }

    .main {
        padding: 70px 20px;
    }

    .login-container {
        width: 100%;
    }

    .support-section img{
        width: 40%;
    }   

    .order-table th{
        font-size: 20px;
    }
    .order-table td{
        font-size: 18px;
    }
}