/* Header Section Start */
/* Banner carousel start*/
.header-prompt{
    background-color: var(--primary-color);
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-prompt span{
    font-family: "Manrope", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 162%; 
}
.header-prompt label{
    font-family: "Manrope", Sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.offer-code{
    background-color: #000;
    padding: 2px 8px;
    /* height: 25px; */
    font-weight: 600 !important;
    letter-spacing: 1px;
}
.carousel-item img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.6);
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 3rem;
    height: 3rem;
}
.carousel-banner-text{
    position: absolute;
    margin: auto;
    top: 50%;
    margin-top: -100px;
    right: 0;
    left: 0;
    z-index: 99;
    padding-left: 100px;   
}
/* Banner carousel end*/
.join-now-sticky-label {
    position: fixed;
    right: -50px;
    top: 50%;
    display: block;
    z-index: 999;
    transform: rotate(90deg);
    border-radius: 0;
    font-family: "Manrope", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}
.header-menu-wrapper {
    background-image: url('../images/Alite-fit-banner.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.header-background {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.nav-list {
    gap: 60px;
    list-style-type: none;
    /* align-items: center; */
}
.nav-list li a {
    font-family: "Manrope", Sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 26px;
    /* padding: 0 40px; */
}
.navbar {
    padding: 27px 50px 15px 50px;
    z-index: 10;
    width: 100%;
    position: fixed;
    transition: all .5s;
}
.main-header {
    position: absolute;
    right: 0;
    left: 0;
    /* margin-top: 30px; */
}
.main-header img {
    width: 209px;
    height: 40px;
    object-fit: fill;
}
.banner-text {
    color: #FFFFFF;
    font-family: "Manrope", Sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: normal;
}
.header-background h1 {
    color: #FFFFFF;
    font-weight: 600;
    line-height: 1.3;
    font-family: "Manrope", Sans-serif;
     width: 694px;
     margin-bottom: 50px;
    /*margin: 0 auto; */
}
.header-background h3{
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 1.3;
    /* text-align: center; */
    font-family: "Manrope", Sans-serif;
     width: 910px;
    /*margin: 0 auto; */
}
.header-text{
    font-size: 42px;
}
.primary-button,
.outline-button {
    font-family: "Manrope", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color) !important;
    border-radius: 5px;
    padding: 10px 33.5px !important;
    color: #fff !important;
    text-decoration: none;
}
.btn-secondary {
    font-family: "Manrope", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 33.5px !important;
}
.btn-secondary:focus {
    box-shadow: none;
}
.joinus-button {
    font-family: "Manrope", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    border-radius: 5px;
    padding: 10px 33.5px;
    color: #fff;
    text-decoration: none;
    width: 260px;
    margin: auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 84px;
    background: linear-gradient(to right, var(--primary-color) 50%, transparent 50%) left;
    background-size: 200%;
    transition: all .5s ease-out;
}
.joinus-button:hover {
    background-position: right;
    color: #fff;
}
.roatet-shape-bottom1 {
    transform: rotate(180deg);
    bottom: -1px;
    overflow: hidden;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
    position: absolute;
}
.roatet-shape-bottom1 svg {
    height: 30px;
    transform: translateX(-50%) rotateY(180deg);
    z-index: -1;
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
}
.roatet-shape-top {
    z-index: 2;
    top: -1px;
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}
.roatet-shape-top svg {
    height: 30px;
    transform: translateX(-50%) rotateY(180deg);
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
}
.elementor-shape-fill {
    fill: #F1F2F4;
    transform-origin: center;
    transform: rotateY(0deg);
}
/* responsive Side bar Start */
.toggle-btn {
    border: 1px solid transparent !important;
}
.toggle-btn:active {
    border-color: transparent !important;
}
.toggle-btn-wrapper {
    display: none;
}
.toggle-btn:focus {
    border: none;
}
.sidebar-bg {
    background-color: #000000;
    height: auto;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.20);
    overflow: hidden scroll;
    position: fixed;
    top: 0;
    left: -400px;
    z-index: 1100;
    transition: all .5s ease-in-out;
    height: 100vh;
    padding: 20px;
    width: 350px;
}
.open-sidebar {
    left: 0;
}
.show-sidebar-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: #21252973;
    transition: all 1s ease-in-out;
}
a.nav-link.active {
    border-bottom: 1px solid;
}
.header-nav-link {
    padding: 0;
}
.nav-link {
    padding: 0 !important;
}
.header-nav-link a {
    font-family: "Manrope", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: #fff;
    text-decoration: none;
    display: block;
}
.header-nav-link a:hover {
    color: #161616;
}
.header-nav-link li {
    list-style-type: none;
    padding-bottom: 20px;
}
.sticky-navbar {
    background-color: #000;
    padding: 27px 50px 15px 50px;
    z-index: 999;
    top: 0;
    margin-top: 0;
}
/* t-shirt popup section start*/
.tshirt-section{
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #F2F0F0;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 7%);
    display: none;
}
.tshirt-section .btn-group img{
    width: 250px;
    height: 250px;
    /* border: 1px solid #E9204F;   */
    padding: 0;  
}
.img-button,.img-button:hover{
    /* border: 1px solid #E9204F;   */
    border: none;
    padding: 0;
}
.size-primary, .size-primary:hover{
    background-color: #FFF !important;
    border: 2px solid #f0f0f0;
    min-width: 48px;
    height: 40px;
    color: #212121;
    margin: 0 20px;
    border-radius: 5px !important;
}
.btn-check:checked + .size-primary{
    background-color: var(--primary-color) !important;
    color: #FFF !important;
    border: 1px solid #E9204F;  
    border-top-left-radius: 5px;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 5px;
    box-shadow: none !important;
    border-bottom-right-radius: 5px !important;    
}
.btn-check:checked+.size-primary:focus,.size-primary:focus, .btn-check:checked + .img-button:focus{
    box-shadow: none;
}
.size-primary:active{
    border-color: var(--primary-color);
}
.primary-color{
    color: var(--primary-color);
}

.btn-check:checked + .img-button{
    filter: brightness(0.7);
    /* border: 1px solid #E9204F;   */
    padding: 0;
    box-shadow: none;
}
.form-checkbox:checked{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.tshirt-section .btn-check:focus{
    box-shadow: none;
}
.form-checkbox input[type='checkbox']{
    accent-color: var(--primary-color);
}
.form-checkbox,.form-checkbox input[type='checkbox']{
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}
.line-through{
    text-decoration: line-through;
    font-size: 14px;
}
.tshirt-price{
    font-weight: 400;
    font-size: 18px;
}
.form-checkbox input[type='checkbox']{
    width: 20px;
    height: 20px;
    
}
/* t-shirt popup section end*/
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }
/* responsive Side bar End */
/* Header Section completed */
