@media screen and (max-width: 1080px) {
    .nav-list {
        gap: 24px;
    }
    .carousel-banner-text{
        padding-left: 40px;
    }
    .header-background h1{
        width: 600px;
    }
    .header-background h3 {
        width: 500px;  
    }
}