@media screen and (max-width: 600px) {
    .header-prompt span {
        font-size: 12px;
    }
    
    .navbar {
        padding: 25px;
    }
    
    .main-header img {
        width: 118px;
    }
    
    .nav-list {
        gap: 0;
    }
    
    .header-background h1 span {
        font-size: 30px;
    }

    .header-background h1 {
        margin-bottom: 20px;
    }

    .header-text {
        font-size: 26px;
    }

    .header-background h3 {
        font-size: 22px;
    }

    .training-programs {
        padding: 0px 20px 0 20px;
    }

    .training-programs-content h2 {
        font-size: 30px;
    }

    .training-programs-zig-zag-section h1,
    .training-programs-zig-zag-section-2 h1 {
        font-size: 32px;
    }

    .training-programs-zig-zag-section p,
    .training-programs-zig-zag-section-2 p {
        font-size: 14px;
    }

    .alite-fit-description h2 {
        font-size: 28px;
        text-align: center;
    }

    .alite-fit-description {
        padding: 20px;
    }

    .our-team-carousel .owl-prev {
        left: -12px;
    }

    .our-team-carousel .owl-next {
        right: -12px;
    }

    .main-footer {
        padding: 30px;
    }

    .accordion-button {
        align-items: flex-start;
    }

    .static-dark-bg h2 {
        font-size: 40px;
    }

    .static-content-wrapper {
        padding: 40px 20px;
    }

    .static-content-wrapper h3 {
        font-size: 22px;
    }

    .static-content-wrapper :is(p, li, b) {
        font-size: 18px;
    }

    .accordion-button::after {
        margin-top: 6px;
    }

    .contact-us-right-side h2 {
        font-size: 32px;
    }

    .carousel-banner-text {
        top: 80%;
    }

    .payment-status-inner-container {
        padding-inline: 60px;
    }

    .contact-us-left-side h2 {
        font-size: 30px;
    }

    .plan-card-header h1 {
        padding: 12px 0 12px 10px;
        font-size: 22px;
    }

    .signin-form {
        width: 100%;
    }

    .signin-content {
        padding-inline: 20px;
    }

    .copiedMessage1 {
        top: 180%;
        left: 50%;
    }

    .heading {
        font-size: 30px;
    }

    .semi-medium {
        font-size: 18px;
    }

    .medium {
        font-size: 16px;
    }

    .login-container {
        width: 100%;
    }

    .main {
        padding: 20px;
    }

    .support-section {
        height: 100%;
    }

    .support-section img {
        width: 60%;
    }
    .support-button{
        width: 100%;
    }

    .order-table th{
        font-size: 16px;
    }
    .order-table td{
        font-size: 14px;
    }
    .tshirt-section .btn-group img{
        width: 110px;
        height: 110px;
    }
    .size-primary, .size-primary:hover{
        margin: 0 10px;
        max-width:fit-content}
}